name: Auto Close Issues

on:
  issues:
    types: [labeled]

jobs:
  close-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Close issue if labeled completed or wontfix
        if: contains(github.event.label.name, 'completed') || contains(github.event.label.name, 'wontfix')
        run: |
          curl -X PATCH \
          -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }} \
          -d '{"state": "closed"}'